<!----------------------------------------------------------------------------------------------------------------------
  -- Footer
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <footer id="site-footer" class="container text-center">
        <hr class="mt-0 fancy" />
        <h2 class="mb-2">
            <span style="color: black">Death Star</span> v{{ version }}
        </h2>
        <div>
            Copyright "A Long Time Ago"&copy; Galactic Empire. All rights reserved.
        </div>
    </footer>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss">
#site-footer {
    color: #aaa;
    font-size: 12px;
}
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script lang="ts">
    //------------------------------------------------------------------------------------------------------------------

    import Vue from 'vue';

    //------------------------------------------------------------------------------------------------------------------

    export default Vue.extend({
        name: 'SiteFooter',
        data()
        {
            return {
                version: process.env.VERSION
            };
        }
    });
</script>

<!--------------------------------------------------------------------------------------------------------------------->
