<!----------------------------------------------------------------------------------------------------------------------
  -- Site Header
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <b-navbar toggleable="md" type="dark" variant="dark" sticky>
        <b-navbar-brand to="/">
            <img src="../../../assets/images/logo.png" height="32" style="display: inline-block; margin-top: -5px"  alt="logo"/>
            Death Star
        </b-navbar-brand>
        <b-navbar-nav>
            <b-nav-item to="/">
                Home
            </b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
        </b-navbar-nav>
    </b-navbar>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss">
    // #site-header {}
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script lang="ts">
    //------------------------------------------------------------------------------------------------------------------

    import Vue from 'vue';

    //------------------------------------------------------------------------------------------------------------------

    export default Vue.extend({
        name: 'SiteHeader',
    });
</script>

<!--------------------------------------------------------------------------------------------------------------------->

