//----------------------------------------------------------------------------------------------------------------------
// Custom Theme SCSS
//
// Note: Mixins and variable references are perfectly acceptable here.
//
//----------------------------------------------------------------------------------------------------------------------

// Height
.h-0 {
    height: 0;
}

.font-sm {
    font-size: 0.95rem;
}

.font-xs {
    font-size: 0.85rem;
}

//----------------------------------------------------------------------------------------------------------------------

// Dropshadow
.shadow-sm {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1) !important;
}

//----------------------------------------------------------------------------------------------------------------------

// Fix modals
.modal-content {
    overflow: hidden;
}

.modal-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.modal-full {
    width: 99%;
    max-width: none;
}

.modal-xxl {
    width: 80%;
    max-width: none;
}

//----------------------------------------------------------------------------------------------------------------------
