<!----------------------------------------------------------------------------------------------------------------------
  -- Control Panel
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <div id="control-panel-page" class="container">
        <h1 class="text-center"><fa :icon="[ 'fab', 'empire' ]"></fa> Death Star Battle Station Control Panel</h1>
        <h6 class="text-danger text-center">
            <fa icon="exclamation-triangle"></fa>
            WARNING: Unauthorized Personnel will be terminated!
            <fa icon="exclamation-triangle"></fa>
        </h6>
        <b-alert class="text-center" variant="warning" show>
            <b>BETA</b>: This station is currently in acceptance trials, and should not be relied on in actual combat scenarios.
        </b-alert>
        <hr>
        <div class="d-flex">
            <div class="d-flex-column w-50 mr-1">
                <b-card class="mb-2">
                    <template #header>
                        <h4 class="mb-0">Station Status</h4>
                    </template>
                    <b-card-text>
                        <b-form-row>
                            <b-col>
                                <fa :icon="[ 'fal', 'space-station-moon' ]" size="8x" :class="`text-${ getDSStatus() }`"></fa>
                            </b-col>
                            <b-col class="d-flex flex-column-reverse">
                                <div>
                                    <h5 class="m-0">Sub Systems</h5>
                                    <ul class="m-0">
                                        <li>
                                            Hyperdrive:
                                            <b-badge :variant="getSubsystemVariant('hyperdrive')">
                                                {{ getSubSystemStatus('hyperdrive') }}
                                            </b-badge>
                                        </li>
                                        <li>
                                            SuperLaser:
                                            <b-badge :variant="getSubsystemVariant('superlaser')">
                                                {{ getSubSystemStatus('superlaser') }}
                                            </b-badge>
                                        </li>
                                        <li>
                                            Shield:
                                            <b-badge :variant="getSubsystemVariant('shield')">
                                                {{ getSubSystemStatus('shield') }}
                                            </b-badge>
                                        </li>
                                    </ul>
                                </div>
                            </b-col>
                        </b-form-row>
                    </b-card-text>
                </b-card>
                <b-card class="mt-2">
                    <template #header>
                        <h4 class="mb-0">Hyperdrive</h4>
                    </template>
                    <b-card-text>
                        <h5 class="m-0">Current Location: <span class="text-muted">{{ locationDisplay }}</span></h5>
                        <b-form-group
                            class="mt-2"
                            label="Navi Computer"
                        >
                            <b-input-group>
                                <b-form-select
                                    v-model="newLocationName"
                                    :options="locations"
                                    text-field="name"
                                    value-field="name"
                                    :disabled="shouldDisableJump()"
                                >
                                    <template #first>
                                        <b-form-select-option :value="undefined" disabled>Please select a location</b-form-select-option>
                                    </template>
                                </b-form-select>
                                <b-input-group-append>
                                    <b-button variant="primary" @click="jump()" :disabled="shouldDisableJump()">
                                        <fa icon="galaxy"></fa>
                                        Jump
                                    </b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-form-group>
                    </b-card-text>
                </b-card>
            </div>
            <div class="d-flex-column ml-1 w-50">
                <b-card class="h-100">
                    <template #header>
                        <h4 class="mb-0">Fire Control</h4>
                    </template>
                    <b-card-text class="d-flex flex-column h-100">
                        <div class="flex-fill">
                            <h5 class="m-0">Current Target: <span class="text-muted">{{ targetName }}</span></h5>
                            <ul v-if="target">
                                <li>Type: <b-badge>{{ target.type.toUpperCase() }}</b-badge></li>
                                <li>
                                    Status:
                                    <b-badge :variant="getEntityStatus(target) === 'DESTROYED' ? 'danger' : 'success'">
                                        {{ getEntityStatus(target) }}
                                    </b-badge>
                                </li>
                                <li v-if="target.type === 'station'">
                                    Shield:
                                    <b-badge :variant="getSubsystemVariant('shield', target)">
                                        {{ getSubSystemStatus('shield', target) }}
                                    </b-badge>
                                </li>
                                <li v-if="target.type === 'station'">
                                    Thermal Exhaust Port: <b-badge>{{ target.thermalExhaustPortSize }}m</b-badge>
                                </li>
                                <li v-else-if="target.type === 'planet'">
                                    Squadrons:
                                    <b-badge v-if="target.squadrons.size === 0" variant="success">None</b-badge>
                                    <b-badge v-else v-for="squad in target.squadrons" :key="squad.name" class="mr-1">
                                       {{ squad.name }}
                                    </b-badge>
                                </li>
                            </ul>
                        </div>
                        <b-form-group
                            class="mt-2"
                            label="Fire Computer"
                        >
                            <b-input-group>
                                <b-form-select
                                    v-model="targetName"
                                    :disabled="shouldDisableFire()"
                                >
                                    <b-form-select-option
                                        v-for="target in targets"
                                        :key="target.name"
                                        :value="target.name"
                                        :disabled="target.status !== 0"
                                    >
                                        {{ target.name }}
                                        <span v-if="target.status !== 0">(Destroyed)</span>
                                    </b-form-select-option>
                                    <template #first>
                                        <b-form-select-option :value="undefined" disabled>Please select a target</b-form-select-option>
                                    </template>
                                </b-form-select>
                                <b-input-group-append>
                                    <b-button variant="danger" :disabled="!target || target.status === 1 || shouldDisableFire()" @click="fire()">
                                        <fa icon="radar"></fa>
                                        Fire
                                    </b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-form-group>
                    </b-card-text>
                </b-card>
            </div>
        </div>

        <b-modal
            v-model="isDestroyed"
            title="CRITICAL SYSTEMS ERROR"
            header-class="text-center"
            header-bg-variant="danger"
            header-text-variant="light"
            header-border-variant="danger"
            footer-bg-variant="danger"
            footer-text-variant="light"
            footer-border-variant="danger"
            hide-header-close
            no-close-on-backdrop
            no-close-on-esc
            no-stacking
        >
            <template #modal-title>
                <fa icon="exclamation-triangle"></fa>
                CRITICAL SYSTEMS ERROR
                <fa icon="exclamation-triangle"></fa>
            </template>

            <div style="font-family: monospace">
                Systems unresponsive. Hull integrity critical. Unrecoverable system errors. Proceed with emergency
                evacuation, or contact your direct supervisor for support.
            </div>

            <template #modal-footer>
                <div></div>
            </template>
        </b-modal>
    </div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss">
    #control-panel-page {
        margin-top: 0.65rem;
        margin-bottom: 0.65rem;
    }

    .modal-title {
        width: 100%;
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script lang="ts">
    //------------------------------------------------------------------------------------------------------------------

    import Vue from 'vue';

    // Interfaces
    import { Entity, EntityStatus, Location, StationEntity } from '../interfaces/entities';
    import { HyperDriveStatus, ShieldStatus, SuperLaserStatus } from '../interfaces/technology';

    // Managers
    import galaxyMan from '../managers/galaxy';
    import empireMan from '../managers/empire';

    //------------------------------------------------------------------------------------------------------------------

    type Subsystem = 'hyperdrive' | 'superlaser' | 'shield';

    //------------------------------------------------------------------------------------------------------------------

    export default Vue.extend({
        data()
        {
            return {
                targetName: undefined,
                newLocationName: undefined,
                isDestroyed: false
            }
        },
        subscriptions()
        {
            return {
                locations: galaxyMan.locations$,
                targets: empireMan.targets$,
                deathstar: empireMan.deathstar$,
            }
        },
        computed: {
            location() : Location
            {
                return this.deathstar.location;
            },
            locationDisplay() : string
            {
                return this.deathstar.hyperDriveStatus === HyperDriveStatus.ACTIVE ? 'Jumping...' : this.location.name;
            },
            newLocation() : Location
            {
                return this.locations.filter((loc : Location) => loc.name === this.newLocationName)[0];
            },
            target() : Entity
            {
                return this.targets.filter((target : Entity) => target.name === this.targetName)[0];
            }
        },
        methods: {
            getSubsystemVariant(subsystem : Subsystem, entity ?: StationEntity)
            {
                const StatusEnum = subsystem === 'hyperdrive'
                    ? HyperDriveStatus : (subsystem === 'superlaser' ? SuperLaserStatus : ShieldStatus);
                const status = entity ?? subsystem === 'hyperdrive'
                    ? this.deathstar.hyperDriveStatus : (
                        subsystem === 'superlaser' ? this.deathstar.superLaserStatus : this.deathstar.shieldStatus
                    );

                switch(status)
                {
                    case StatusEnum.ACTIVE:
                        return subsystem === 'shield' ? 'success' : 'warning';
                    case StatusEnum.INACTIVE:
                        return subsystem === 'shield' ? 'secondary' : 'success';
                    case StatusEnum.DESTROYED:
                        return 'danger';
                    case StatusEnum.DISABLED:
                        return 'secondary'
                }
            },
            getSubSystemStatus(subsystem : Subsystem, entity ?: StationEntity)
            {
                const StatusEnum = subsystem === 'hyperdrive'
                    ? HyperDriveStatus : (subsystem === 'superlaser' ? SuperLaserStatus : ShieldStatus);
                const status = entity ?? subsystem === 'hyperdrive'
                    ? this.deathstar.hyperDriveStatus : (
                        subsystem === 'superlaser' ? this.deathstar.superLaserStatus : this.deathstar.shieldStatus
                    );

                switch(status)
                {
                    case StatusEnum.ACTIVE:
                        return 'ACTIVE';
                    case StatusEnum.INACTIVE:
                        return 'INACTIVE';
                    case StatusEnum.DESTROYED:
                        return 'DESTROYED';
                    case StatusEnum.DISABLED:
                        return 'DISABLED'
                }
            },
            getEntityStatus(entity : Entity)
            {
                switch(entity.status)
                {
                    case EntityStatus.NOMINAL:
                        return 'NOMINAL';
                    case EntityStatus.DESTROYED:
                        return 'DESTROYED';
                }
            },
            getDSStatus()
            {
                // Were we blown up?
                if(this.deathstar.status === EntityStatus.DESTROYED)
                {
                    return 'danger';
                }

                switch(this.deathstar.hyperDriveStatus)
                {
                    case HyperDriveStatus.ACTIVE:
                        return 'info';
                    case HyperDriveStatus.INACTIVE:
                        return 'success';
                    case HyperDriveStatus.DESTROYED:
                        return 'danger';
                    case HyperDriveStatus.DISABLED:
                        return 'secondary'
                }
            },
            async jump()
            {
                // We're jumping, so stop targeting anything
                this.targetName = undefined;

                await empireMan.jumpToHyperspace(this.newLocation);

                // Clear location specific data
                this.newLocationName = undefined;
            },
            async fire()
            {
                if(this.target)
                {
                    await galaxyMan.attack(this.deathstar, this.target);

                    // Handle rare edge case
                    if(this.deathstar.status === EntityStatus.DESTROYED)
                    {
                        this.isDestroyed = true;
                    }
                } // end if

                empireMan.refreshTargets();
            },
            shouldDisableJump()
            {
                return this.deathstar.hyperDriveStatus !== HyperDriveStatus.INACTIVE;
            },
            shouldDisableFire()
            {
                return this.shouldDisableJump() || this.deathstar.superLaserStatus !== SuperLaserStatus.INACTIVE;
            }
        },
        async mounted()
        {
            empireMan.refreshTargets();
        }
    });
</script>

<!--------------------------------------------------------------------------------------------------------------------->
