<!----------------------------------------------------------------------------------------------------------------------
  -- Main Page
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <div id="main-page" class="container">
            <div class="float-right w-50 text-right mr-3 mt-3 mb-3">
                <img src="../../assets/images/deathstar-render.png" height="400">
            </div>
        <b-jumbotron header="Death Star" lead="A bold vision for the future" class="clearfix pb-0 pr-2">
            <p>
                You must be authorized to use this station. Unauthorized access will be reported at the highest levels.
                Failure to comply is grounds for immediate termination.
            </p>
            <b-button variant="primary" href="mailto:emperor@galactic-empire.com?subject=Requesting%20Death%20Star%20Access">
                <fa icon="envelope"></fa>
                Request Authorization
            </b-button>
            <b-button variant="dark" to="/control-panel">
                <fa icon="space-station-moon"></fa>
                Control Panel
            </b-button>
        </b-jumbotron>

        <b-card-group deck>
            <b-card>
                <b-card-title>
                    <fa :icon="[ 'fab', 'empire' ]"></fa>
                    Justice
                </b-card-title>
                <b-card-text>
                    It's hard to imagine now, but the Empire was founded to end a war. The Emperor was chosen
                    to bring both sides back into the fold, making sure one side did not treat the other unfairly.
                    Since then, the Empire has been focused on a singular task: <br><br> <i>Bring justice and order to the galaxy.</i>
                </b-card-text>
            </b-card>
            <b-card>
                <b-card-title>
                    <fa icon="people-arrows"></fa>
                    Equality
                </b-card-title>
                <b-card-text>
                    Over one million crew members from over three dozen member worlds staff this station. From sanitary
                    support staff, to the station commander himself, everyone is a citizen of the Empire first, and a
                    member of the military second. The Empire doesn't care where you are from. If you serve the Empire
                    well, you will be rewarded.
                </b-card-text>
            </b-card>
            <b-card>
                <b-card-title>
                    <fa icon="swords-laser"></fa>
                    Strength
                </b-card-title>
                <b-card-text>
                    The galaxy is a dangerous place. Be it pirates, slavers, or spice-smugglers, there are those who
                    seek to destroy all we've built. These lawless individuals only understand one thing:
                    <i>Strength</i>. This battle station represents the ultimate power in the universe, ever vigilant
                    to protect ever citizen of the Empire.
                </b-card-text>
            </b-card>
        </b-card-group>
    </div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss">
    #main-page {
        margin-top: 0.65rem;
        margin-bottom: 0.65rem;
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script lang="ts">
    //------------------------------------------------------------------------------------------------------------------

    import Vue from 'vue';

    //------------------------------------------------------------------------------------------------------------------

    export default Vue.extend({});
</script>

<!--------------------------------------------------------------------------------------------------------------------->
